<ng-container *ngIf="user"
              class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img *ngIf="user.imageUrl; else defaultImage"
                 [src]="user.imageUrl"
                 class="account-image">

            <ng-template #defaultImage>
                <img src="assets/default-user-image.png"
                     class="account-image">
            </ng-template>
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-between">
                <div class="row">
                    <h3>{{ user.username }}</h3>
                    <div class="col-6  d-flex flex-column justify-content-between">
                        <span><b>Full name:</b> {{ user.fullName }}</span>
                        <span><b>Email:</b> {{ user.email }}</span>
                        <span><b>Date of birth:</b> {{ user.dateOfBirth }}</span>
                        <span><b>Status:</b> {{ user.status }}</span>
                    </div>
                    <div class="col-6  d-flex flex-column justify-content-between">
                        <span><b>Total auctions:</b> {{ user.totalAuctions }}</span>
                        <span><b>Total wins:</b> {{ user.totalWins }}</span>
                    </div>
                </div>

                <ng-template #profileActionsPopContent>
                    <div class="actions-container">
                        <button class="btn"
                                (click)="open(changePasswordModal)">
                            Change password
                        </button>
                        <button class="btn"
                                (click)="open(deleteAccountModal)">
                            Delete account
                        </button>
                        <a *ngIf="ownProfile && user.role == 'Customer'"
                           class="btn"
                           routerLink="/bids-history"
                           [queryParams]="{ userId: user.id }">
                            Bids history
                        </a>
                    </div>
                </ng-template>

                <button *ngIf="ownProfile"
                        type="button"
                        class="btn actions-button"
                        placement="bottom"
                        [ngbPopover]="profileActionsPopContent">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs mt-3">
        <li *ngIf="user.totalAuctions > 0"
            class="nav-item">
            <button class="nav-link"
                    [ngClass]="currentTable == 'Users auctions' ? 'active' : ''"
                    (click)="onTableChange('Users auctions')">
                User auctions
            </button>
        </li>
        <li *ngIf="user.totalWins > 0"
            class="nav-item">
            <button class="nav-link"
                    [ngClass]="currentTable == 'Auction victories' ? 'active' : ''"
                    (click)="onTableChange('Auction victories')">
                Auction victories
            </button>
        </li>
    </ul>
    <div *ngIf="user.totalAuctions > 0 || user.totalWins > 0"
         class="container-fluid border">
        <data-table [apiUrl]="getAuctionsDataTableApiUrl()"
                    [options]="options">
        </data-table>
    </div>
</ng-container>

<ng-template #changePasswordModal
             let-modal>
    <div class="modal-header">
        <h4 class="modal-title"
            id="modal-basic-title">Change password</h4>
        <button type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="changePasswordForm">
            <div class="form-field flex mb-2">
                <div>
                    <label for="currentPassword"
                           class="form-label pt">Current password:</label>
                </div>

                <div class="flex-1">
                    <input type="password"
                           id="currentPassword"
                           class="form-control"
                           formControlName="currentPassword" />
                </div>
            </div>

            <div class="form-field flex mb-2">
                <div>
                    <label for="newPassword"
                           class="form-label pt">New password:</label>
                </div>

                <div class="flex-1">
                    <input type="password"
                           id="newPassword"
                           class="form-control"
                           formControlName="newPassword" />
                </div>
            </div>

            <div class="form-field flex mb-2">
                <div>
                    <label for="confirmedNewPassword"
                           class="form-label pt">Confirmed new password:</label>
                </div>

                <div class="flex-1">
                    <input type="password"
                           id="confirmedNewPassword"
                           class="form-control"
                           formControlName="confirmedNewPassword" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-dark"
                (click)="onChangePasswordSubmit(modal)">Submit</button>
    </div>
</ng-template>

<ng-template #deleteAccountModal
             let-modal>
    <div class="modal-header">
        <h4 class="modal-title"
            id="modal-basic-title">Delete account</h4>
        <button type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <span>Are you shure you want to delete your account?</span>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-dark"
                (click)="onDeleteAccountSubmit(modal)">Delete</button>
    </div>
</ng-template>