<div class="custom-form-container">
    <form [formGroup]="signInForm"
          (ngSubmit)="onSubmit()">
        <h2>Sign In</h2>

        <div class="form-field flex mb-2">
            <div>
                <label for="username"
                       class="form-label pt">User Name or Email:</label>
            </div>

            <div class="flex-1">
                <input type="text"
                       id="username"
                       class="form-control"
                       formControlName="username" />
            </div>

            <div *ngIf="!username?.valid && (username?.dirty || username?.touched)">
                <span class="text-danger">Username or email is required.</span>
            </div>
        </div>

        <div class="form-field flex mb-3">
            <div>
                <label for="password"
                       class="form-label pt">Password:</label>
            </div>

            <div class="flex-1">
                <input type="password"
                       id="password"
                       class="form-control"
                       formControlName="password" />
            </div>

            <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                <span class="text-danger">Password is required.</span>
            </div>
        </div>

        <div *ngIf="error"
             class="text-danger">
            {{ error }}
        </div>

        <div class="form-field">
            <button type="submit"
                    class="btn default-btn-background w-100 mb-2"
                    (click)="onSubmit()">
                Sign In
            </button>

            <a class="btn btn-outline w-100"
               routerLink="/create-account">
                Create account
            </a>
        </div>
    </form>
</div>