<div class="card auction-card">
    <img [src]="auction.imageUrls[0]"
         class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ auction.name }}</h5>
        <p class="card-text">
            <span class="current-bid"> ${{ auction.currentBid }} </span> / ${{ auction.startPrice }}
        </p>
        <p class="card-text">

        </p>
        <button class="btn default-btn-background w-100"
                routerLink="/auction-details"
                [queryParams]="{ 'auctionId': auction.id }">Details</button>
    </div>
</div>