@import 'bootstrap/scss/bootstrap';
@import "font-awesome/css/font-awesome.css";
@import 'ngx-toastr/toastr';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'ngx-toastr/toastr-bs5-alert';

header {
  display: flex;
  align-items: center;
  min-height: 7vh;
}

main {
  min-height: 82vh;
  margin-bottom: 4vh;
}

footer {
  display: flex;
  align-items: center;
  height: 7vh;
  width: 100%;
}

a {
  text-decoration: none;
}

.default-background {
  background-color: orange;
  color: white;
}
.default-btn-background {
  @extend .default-background;
  border: 0;
}

.default-btn-background:hover {
  background-color: darkorange;
  color: white;
}

.default-btn-background:focus {
  background-color: darkorange;
}

.default-span-background {
  @extend .default-background;
}
.auctions-cards-container-scroll {
  display: flex;
  overflow: auto;
}
