<div class="main-page-container">
  <h2 class="text-center mb-4">Welcome to Moderator UI!</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">

    <div class="col">
      <div class="card h-100 menu-card"
           routerLink="/auction-categories">
        <div class="card-body text-center">
          <i class="fas fa-tags fa-3x mb-3 main-color"></i>
          <h5 class="card-title">Auction Categories Management</h5>
          <p class="card-text">Manage, add, and update categories for various auctions.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 menu-card"
           routerLink="/auctions">
        <div class="card-body text-center">
          <i class="fas fa-gavel fa-3x mb-3 accent-color-1"></i>
          <h5 class="card-title">Auctions Management</h5>
          <p class="card-text">Oversee and manage active, pending, and completed auctions.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 menu-card"
           routerLink="/auction-requests">
        <div class="card-body text-center">
          <i class="fas fa-envelope fa-3x mb-3 main-color"></i>
          <h5 class="card-title">Auction Requests Management</h5>
          <p class="card-text">Review and approve or decline new auction requests from users.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 menu-card"
           routerLink="/users">
        <div class="card-body text-center">
          <i class="fas fa-users fa-3x mb-3 main-color"></i>
          <h5 class="card-title">Users Management</h5>
          <p class="card-text">Manage user accounts, roles, and access permissions.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 menu-card"
           routerLink="/complaints">
        <div class="card-body text-center">
          <i class="fas fa-exclamation-triangle fa-3x mb-3 main-color"></i>
          <h5 class="card-title">Complaints Management</h5>
          <p class="card-text">Handle and resolve user complaints and disputes.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 menu-card"
           routerLink="/support-tickets">
        <div class="card-body text-center">
          <i class="fas fa-circle-info fa-3x mb-3 main-color"></i>
          <h5 class="card-title">Support Tickets Management</h5>
          <p class="card-text">Address and resolve technical support tickets from users.</p>
        </div>
      </div>
    </div>

  </div>
</div>