<ng-container>
    <div class="d-flex justify-content-between w-75">
        <div class="flex-fill">
            <button type="button"
                    class="btn default-btn-background w-75"
                    placement="bottom"
                    [ngbPopover]="categoryPopContent">
                Category
            </button>
        </div>

        <div class="flex-fill">
            <button type="button"
                    class="btn default-btn-background w-75"
                    placement="bottom"
                    [ngbPopover]="startPricePopContent"
                    [autoClose]="'outside'"
                    container="body">
                Start price
            </button>
        </div>

        <div class="flex-fill">
            <button type="button"
                    class="btn default-btn-background w-75"
                    placement="bottom"
                    [ngbPopover]="currentBidPopContent"
                    [autoClose]="'outside'"
                    container="body">
                Current bid
            </button>
        </div>

        <div class="flex-fill">
            <button type="button"
                    class="btn default-btn-background w-75"
                    placement="bottom"
                    [ngbPopover]="statusPopContent">
                Status
            </button>
        </div>
    </div>
</ng-container>

<ng-template #categoryPopContent>
    <div *ngFor="let category of categories"
         class="radio-container">
        <div>
            <input class="form-check-input"
                   type="radio"
                   [value]="category.id"
                   [checked]="category.id == chosenCategoryId"
                   (click)="onCategoryChanged($event)"> {{ category.name }}
        </div>
    </div>
</ng-template>

<ng-template #startPricePopContent>
    <div>
        <input class="form-control"
               type="number"
               [min]="100"
               [max]="10e7"
               [(ngModel)]="minStartPrice"
               (change)="onStartPriceFilterChange()" />

        <input class="form-control mt-3"
               type="number"
               [min]="100"
               [max]="10e7"
               [(ngModel)]="maxStartPrice"
               (change)="onStartPriceFilterChange()" />

        <button *ngIf="startPriceChanged"
                class="btn"
                (click)="clearStartPrice()">
            Cleare
        </button>
    </div>
</ng-template>

<ng-template #currentBidPopContent>
    <div>
        <input class="form-control"
               type="number"
               [min]="100"
               [max]="10e7"
               [(ngModel)]="minCurrentBid"
               (change)="onCurrentBidFilterChange()" />

        <input class="form-control mt-3"
               type="number"
               [min]="100"
               [max]="10e7"
               [(ngModel)]="maxCurrentBid"
               (change)="onCurrentBidFilterChange()" />

        <button *ngIf="currentBidChanged"
                class="btn"
                (click)="clearCurrentBid()">
            Cleare
        </button>
    </div>
</ng-template>

<ng-template #statusPopContent>
    <div class="radio-container">
        <div>
            <input #activeStatusRadio
                   class="form-check-input radio-button"
                   type="radio"
                   name="status"
                   value="Active"
                   [checked]="chosenStatus == 'Active'"
                   (click)="onStatusChanged($event)" /> Active
        </div>
        <div>
            <input #finishedStatusRadio
                   class="form-check-input radio-button"
                   type="radio"
                   name="status"
                   value="Finished"
                   [checked]="chosenStatus == 'Finished'"
                   (click)="onStatusChanged($event)" /> Finished
        </div>
    </div>
</ng-template>