<div *ngIf="auction"
     class="container-fluid">
    <h3> {{ auction.name }}</h3>
    <div class="row mt-2">
        <div class="col-4">
            <div id="carouselExample"
                 class="carousel slide">
                <div class="carousel-inner">
                    <div *ngFor="let imageUrl of auction.imageUrls"
                         class="carousel-item active">
                        <img [src]="imageUrl"
                             class="d-block w-100">
                    </div>
                </div>
                <div *ngIf="auction.imageUrls.length > 1">
                    <button class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="auction-info-container">
                <span class="h5"><b>Category:</b> {{ auction.category }}</span>
                <span class="h5">
                    <b class="auction-details-property">Auctionist:</b>
                    <a routerLink="/profile"
                       [queryParams]="{ userId: auction.auctionistId }">
                        {{ auction.auctionist }}
                    </a>
                </span>
                <span class="h5"><b class="auction-details-property">Start price:</b> {{ auction.startPrice }}$</span>
                <span class="h5"><b class="auction-details-property">Auction time:</b> {{ auction.auctionTime }}</span>
                <span class="h5"><b class="auction-details-property">Finish type:</b> {{ auction.finishTypeDescription }}</span>

                <h4 class="mt-3">Lot description</h4>
                <span>{{ auction.lotDescription }}</span>
            </div>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-between">
        <button class="btn btn-outline"
                (click)="open(rejectAuctionModal)">Reject</button>
        <button class="btn default-btn-background"
                (click)="approveAuction()">Approve</button>
    </div>
</div>

<ng-template #rejectAuctionModal
             let-modal>
    <div class="modal-header">
        <h4 class="modal-title"
            id="modal-basic-title">
            Reject auction
        </h4>
        <button type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="rejectionForm">
            <input type="text"
                   id="auctionId"
                   class="form-control"
                   formControlName="auctionId"
                   hidden />

            <div class="form-field flex mb-2">
                <div>
                    <label for="rejectionReason"
                           class="form-label pt">Rejection reason:</label>
                </div>

                <div class="flex-1">
                    <input type="text"
                           id="rejectionReason"
                           class="form-control"
                           formControlName="rejectionReason" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-dark"
                (click)="rejectAuction(modal)">Submit</button>
    </div>
</ng-template>