<div class="container-fluid">
    <search-bar [placeholder]="placeholder"
                (onSubmit)="onSearchClicked()">
    </search-bar>

    <button type="button"
            class="btn default-btn-background mb-3"
            placement="bottom"
            [ngbPopover]="statusPopContent">
        Status
    </button>

    <ng-template #statusPopContent>
        <div class="radio-container">
            <div>
                <input class="form-check-input"
                       type="radio"
                       name="status"
                       value="Active"
                       [checked]="status == 'Active'"
                       (click)="onStatusChanged($event)"> Active
            </div>
            <div>
                <input class="form-check-input"
                       type="radio"
                       name="status"
                       value="Blocked"
                       [checked]="status == 'Blocked'"
                       (click)="onStatusChanged($event)"> Blocked
            </div>
        </div>
    </ng-template>

    <data-table [apiUrl]="getCustomersDataTableApiUrl()"
                [options]="options"
                (onAction)="onActionExecuted($event)">
    </data-table>
</div>