<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container-fluid">
      <a class="navbar-brand"
         routerLink="/">BidMaster Online</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="isLoggedIn"
           class="collapse navbar-collapse header-container"
           id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown"
              ngbDropdown>
            <a class="nav-link dropdown-toggle"
               id="navbarScrollingDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
               ngbDropdownToggle>
              Actions
            </a>
            <ul class="dropdown-menu"
                ngbDropdownMenu
                aria-labelledby="navbarScrollingDropdown">
              <li ngbDropdownItem>
                <a class="dropdown-item"
                   routerLink="/auction-requests/new">New auction</a>
              </li>
              <li ngbDropdownItem>
                <a class="dropdown-item"
                   routerLink="/complaints">Complaints</a>
              </li>
              <li ngbDropdownItem>
                <a class="dropdown-item"
                   routerLink="/technical-support">Technical support</a>
              </li>
            </ul>
          </li>
        </ul>
        <span class="navbar-text">
          <a style="font-size: 1.5em; margin-right: 15px;"
             [routerLink]="['/users', userId]">
            <i class="fa-solid fa-user"></i>
          </a>
          <a class="logout-btn"
             routerLink="/"
             (click)="logout()"
             style="font-size: 1.5em;">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </span>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container-fluid w-75 mt-3">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="border-top footer">
  <div class="container text-center">
    <span>
      &copy; 2025 - BidMasterOnline
    </span>
  </div>
</footer>