<app-auction-filters (onFilterChanged)="onFilterChanged($event)"></app-auction-filters>

<ng-container *ngIf="searchMode && searchedAuctions">
  <div class="auction-cards-container">
    <auction-card *ngFor="let auction of searchedAuctions"
                  [auction]="auction"></auction-card>
  </div>
  <button *ngIf="hasNext"
          class="btn btn-outline-dark w-100"
          (click)="fetchSearchedAuctions()">Load more...</button>
</ng-container>

<ng-container *ngIf="!searchMode">
  <div *ngIf="popularAuctions">
    <h4 class="mt-3">Popular</h4>

    <div *ngIf="popularAuctions.length > 0; else emptyList"
         class="auctions-cards-container-scroll">
      <auction-card *ngFor="let auction of popularAuctions"
                    [auction]="auction"></auction-card>
    </div>
  </div>

  <div *ngIf="finishingAuctions">
    <h4 class="mt-3">Finishing soon</h4>

    <div *ngIf="finishingAuctions.length > 0; else emptyList"
         class="auctions-cards-container-scroll">
      <auction-card *ngFor="let auction of finishingAuctions"
                    [auction]="auction"></auction-card>
    </div>
  </div>

  <ng-template #emptyList>
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-exclamation-triangle me-2"
         style="font-size: 1.2em; color: orange;"></i>
      <span>No data available.</span>
    </div>
  </ng-template>
</ng-container>