<div class=" d-flex justify-content-between">
  <h3 class="card-title mb-3 text-secondary"><i class="fa-solid fa-comments me-2"></i>User Feedbacks</h3>

  <button class="add-user-feedback-button"
          (click)="currentUserStatus === UserStatusEnum.Active ? open(feedbackModal) : open(userBlockedModal)"
          [disabled]="userId == currentUserId">
    <i class="fa-solid fa-circle-plus fa-2xl"></i>
  </button>
</div>

<div *ngIf="feedbacks"
     class="mt-3">
  <div *ngFor="let feedback of feedbacks"
       class="mt-4 d-flex justify-content-between align-items-start">
    <div class="user-feedback">
      <a class="h5"
         [routerLink]="['/users', feedback.fromUserId]">
        {{feedback.fromUsername}}
      </a>
      <br>
      <span>{{feedback.createdAt | date: 'MM-dd-yyyy HH:mm'}}</span>
      <app-score [readonly]="true"
                 [selectedScore]="feedback.score"
                 class="mt-3"></app-score>
      <p *ngIf="feedback.comment"
         class="h5">{{feedback.comment}}</p>
    </div>

    <ng-template #actionsPopContent>
      <div class="actions-container">
        <button *ngIf="feedback.fromUserId != currentUserId"
                class="btn"
                (click)="openActionModal(complaintOnFeedbackModal, feedback)">
          Complain
        </button>
        <button *ngIf="feedback.fromUserId == currentUserId"
                class="btn"
                (click)="openActionModal(deleteFeedbackModal, feedback)">
          Delete
        </button>
      </div>
    </ng-template>

    <button type="button"
            class="btn actions-button"
            placement="bottom"
            [ngbPopover]="actionsPopContent">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
  </div>

  <button *ngIf="hasNext"
          class="btn btn-outline-dark w-100"
          (click)="loadUserFeedbacks()">Load more...</button>
</div>

<ng-template #feedbackModal
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Leave a feedback
    </h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <form *ngIf="feedbackForm"
          [formGroup]="feedbackForm">
      <div class="form-field flex mb-2">
        <label for="score"
               class="form-label pt mb-3">Score:</label>

        <app-score (onScoreSet)="onScoreUpdated($event)"></app-score>
        <input hidden
               formControlName="score" />

        <label for="comment"
               class="form-label pt mt-4">Comment text:</label>

        <div class="flex-1">
          <textarea id="comment"
                    class="form-control"
                    formControlName="comment"></textarea>
        </div>

        <div *ngIf="!comment?.valid && (comment?.dirty || comment?.touched)">
          <div *ngIf="comment?.errors?.['required']">
            <span class="text-danger">Comment text is required.</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button"
            class="btn btn-outline"
            aria-label="Close"
            (click)="modal.close(); reloadFeedbackForm()">Cancel</button>
    <button type="button"
            class="btn default-btn-background"
            (click)="leaveFeedback(modal)">Submit</button>
  </div>
</ng-template>

<ng-template #deleteFeedbackModal
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Delete user feedback
    </h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <span>Are you shure you want to delete user feedback</span>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button"
            class="btn btn-outline"
            aria-label="Close"
            (click)="modal.close()">Cancel</button>
    <button type="button"
            class="btn default-btn-background"
            (click)="deleteFeedback(modal)">Delete</button>
  </div>
</ng-template>

<ng-template #complaintOnFeedbackModal
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Complaint
    </h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <form *ngIf="complaintForm"
          [formGroup]="complaintForm">
      <div class="form-field flex mb-2">
        <div>
          <label for="complaint"
                 class="form-label pt">Complaint text:</label>
        </div>

        <div class="flex-1">
          <textarea id="complaintText"
                    class="form-control"
                    formControlName="complaintText"></textarea>
        </div>

        <div *ngIf="!complaintText?.valid && (complaintText?.dirty || complaintText?.touched)">
          <div *ngIf="complaintText?.errors?.['required']">
            <span class="text-danger">Complaint text is required.</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button"
            class="btn btn-outline"
            aria-label="Close"
            (click)="modal.close()">Cancel</button>
    <button type="button"
            class="btn default-btn-background"
            (click)="complainOnFeedback(modal)">Submit</button>
  </div>
</ng-template>

<ng-template #userBlockedModal
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Cannot leave a user feedback
    </h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <span>Your account has been blocked! So, you are not able to leave user feedbacks for now.</span>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close()">Ok</button>
  </div>
</ng-template>